<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581351320074-dehbi0389hjmt99io12k5vi6gnnicgrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581351320074-dehbi0389hjmt99io12k5vi6gnnicgrm</string>
	<key>API_KEY</key>
	<string>AIzaSyBMb1u3J3GFUg3iYE-9Z40UmKoBsz_pzog</string>
	<key>GCM_SENDER_ID</key>
	<string>581351320074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone2</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone2-35b74</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone2-35b74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:581351320074:ios:c5bf937a787b381e1b4df3</string>
</dict>
</plist>
